    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:47
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-amazed:before { content: "\f100"; }
.flaticon-angry:before { content: "\f101"; }
.flaticon-beard:before { content: "\f102"; }
.flaticon-beard-1:before { content: "\f103"; }
.flaticon-beard-2:before { content: "\f104"; }
.flaticon-crying:before { content: "\f105"; }
.flaticon-crying-1:before { content: "\f106"; }
.flaticon-dead:before { content: "\f107"; }
.flaticon-disappointed:before { content: "\f108"; }
.flaticon-embarrassed:before { content: "\f109"; }
.flaticon-embarrassed-1:before { content: "\f10a"; }
.flaticon-evil:before { content: "\f10b"; }
.flaticon-friendly:before { content: "\f10c"; }
.flaticon-happiness:before { content: "\f10d"; }
.flaticon-happiness-1:before { content: "\f10e"; }
.flaticon-happy:before { content: "\f10f"; }
.flaticon-happy-1:before { content: "\f110"; }
.flaticon-happy-2:before { content: "\f111"; }
.flaticon-hilarious:before { content: "\f112"; }
.flaticon-in-love:before { content: "\f113"; }
.flaticon-in-love-1:before { content: "\f114"; }
.flaticon-indifferent:before { content: "\f115"; }
.flaticon-indifferent-1:before { content: "\f116"; }
.flaticon-kiss:before { content: "\f117"; }
.flaticon-laughing:before { content: "\f118"; }
.flaticon-laughing-1:before { content: "\f119"; }
.flaticon-lovely:before { content: "\f11a"; }
.flaticon-moustache:before { content: "\f11b"; }
.flaticon-moustache-1:before { content: "\f11c"; }
.flaticon-muted:before { content: "\f11d"; }
.flaticon-nerd:before { content: "\f11e"; }
.flaticon-nerd-1:before { content: "\f11f"; }
.flaticon-nerd-2:before { content: "\f120"; }
.flaticon-quiet:before { content: "\f121"; }
.flaticon-sad:before { content: "\f122"; }
.flaticon-sad-1:before { content: "\f123"; }
.flaticon-scared:before { content: "\f124"; }
.flaticon-smile:before { content: "\f125"; }
.flaticon-stress:before { content: "\f126"; }
.flaticon-sunglasses:before { content: "\f127"; }
.flaticon-sunglasses-1:before { content: "\f128"; }
.flaticon-surprised:before { content: "\f129"; }
.flaticon-surprised-1:before { content: "\f12a"; }
.flaticon-suspect:before { content: "\f12b"; }
.flaticon-thief:before { content: "\f12c"; }
.flaticon-thief-1:before { content: "\f12d"; }
.flaticon-tongue:before { content: "\f12e"; }
.flaticon-wink:before { content: "\f12f"; }
.flaticon-wink-1:before { content: "\f130"; }
.flaticon-worried:before { content: "\f131"; }
    
    $font-Flaticon-amazed: "\f100";
    $font-Flaticon-angry: "\f101";
    $font-Flaticon-beard: "\f102";
    $font-Flaticon-beard-1: "\f103";
    $font-Flaticon-beard-2: "\f104";
    $font-Flaticon-crying: "\f105";
    $font-Flaticon-crying-1: "\f106";
    $font-Flaticon-dead: "\f107";
    $font-Flaticon-disappointed: "\f108";
    $font-Flaticon-embarrassed: "\f109";
    $font-Flaticon-embarrassed-1: "\f10a";
    $font-Flaticon-evil: "\f10b";
    $font-Flaticon-friendly: "\f10c";
    $font-Flaticon-happiness: "\f10d";
    $font-Flaticon-happiness-1: "\f10e";
    $font-Flaticon-happy: "\f10f";
    $font-Flaticon-happy-1: "\f110";
    $font-Flaticon-happy-2: "\f111";
    $font-Flaticon-hilarious: "\f112";
    $font-Flaticon-in-love: "\f113";
    $font-Flaticon-in-love-1: "\f114";
    $font-Flaticon-indifferent: "\f115";
    $font-Flaticon-indifferent-1: "\f116";
    $font-Flaticon-kiss: "\f117";
    $font-Flaticon-laughing: "\f118";
    $font-Flaticon-laughing-1: "\f119";
    $font-Flaticon-lovely: "\f11a";
    $font-Flaticon-moustache: "\f11b";
    $font-Flaticon-moustache-1: "\f11c";
    $font-Flaticon-muted: "\f11d";
    $font-Flaticon-nerd: "\f11e";
    $font-Flaticon-nerd-1: "\f11f";
    $font-Flaticon-nerd-2: "\f120";
    $font-Flaticon-quiet: "\f121";
    $font-Flaticon-sad: "\f122";
    $font-Flaticon-sad-1: "\f123";
    $font-Flaticon-scared: "\f124";
    $font-Flaticon-smile: "\f125";
    $font-Flaticon-stress: "\f126";
    $font-Flaticon-sunglasses: "\f127";
    $font-Flaticon-sunglasses-1: "\f128";
    $font-Flaticon-surprised: "\f129";
    $font-Flaticon-surprised-1: "\f12a";
    $font-Flaticon-suspect: "\f12b";
    $font-Flaticon-thief: "\f12c";
    $font-Flaticon-thief-1: "\f12d";
    $font-Flaticon-tongue: "\f12e";
    $font-Flaticon-wink: "\f12f";
    $font-Flaticon-wink-1: "\f130";
    $font-Flaticon-worried: "\f131";